.ui-content .ui-listview {
    margin-bottom: 1em;
}

#starting-countdown {
    text-align: center;
    font-size: 5em;
}

/*
.gameplay-choice {
    TODO: button styling
}
*/

#game-question, #game-position {
    text-align: center;
}