/*
    John Kusner
    jjk320@lehigh.edu
    CSE 264
    Final Project
*/

.ui-content .ui-listview {
    margin-bottom: 1em;
}

#starting-countdown {
    text-align: center;
    font-size: 5em;
}

#game-question, #game-position, .centered {
    text-align: center;
}

.clicked-button {
    background: #ff8d8d !important;
}

.correct-button {
    background:#44ff4a !important;
}

.in, .out {
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-duration: 200ms !important;
    animation-timing-function: ease-in-out;
    animation-duration: 200ms !important;
    -moz-animation-timing-function: ease-in-out;
    -moz-animation-duration: 200ms !important;
}

#game-choice-1:hover, #game-choice-2:hover, #game-choice-3:hover, #game-choice-4:hover {
    background-color: #f6f6f6;
}