.ui-content .ui-listview {
    margin-bottom: 1em;
}

#starting-countdown {
    text-align: center;
    font-size: 5em;
}

#game-question, #game-position, .centered {
    text-align: center;
}

.clicked-button {
    background: #ff8d8d !important;
}

.correct-button {
    background:#44ff4a !important;
}

.in, .out {
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-duration: 200ms !important;
}

.ui-state-hover {
    background: none;
    border: none;
}